.standardBody{
    font-family: 'Archivo', sans-serif;
}

nav {
    background-color: #403D39;

    #heading {
        color: #F6F6F6;
        width: 43vw;
        word-wrap: break-word;
        font-size: 30px;
    }
}

.th{
    font-size: 2vw;
    border-collapse: collapse;
    border-bottom: solid#403D39;
}

.td{
    font-size: 1.5vw;
    border-collapse: collapse;
    border-bottom: solid#403D39;
}

.row-odd{
    background-color: #EEEEEE;
}

.Todo{
    background-color:#FF6B6B;
    border-radius: 20px;
    padding: 2px 50px;
}

.InProgress{
    background-color: #FFE66D;
    border-radius: 20px;
    padding: 2px 50px;
}

.Done{
    background-color: #4ECDC4;
    width: 5vw;
    border-radius: 20px;
}

.row-template{
    display: none;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonInnerDiv{
    border: 2px solid #50514F;
    border-radius: 5px;
}

.showMore{
    background: transparent;
      border-color: transparent;
      text-align: center;
      outline: none;
      color: #50514F;
      padding: 2px 50px;
}

.printButton{
    width: max(6vw, 50px);
}