nav {
    background-color: #403D39;

    #heading {
        color: #F6F6F6;
        font-size: 4vw;
    }
}

th{
    font-size: 2vw;
    border-collapse: collapse;
    border-bottom: solid#403D39;
}

td{
    font-size: 1.5vw;
    border-collapse: collapse;
    border-bottom: solid#403D39;
}

.todo{
    background-color:#FF6B6B;
    border-radius: 10%;
}

.inprogress{
    background-color: #FFE66D;
    border-radius: 10%;
}

.done{
    background-color: #4ECDC4;
    border-radius: 10%;
}

.row-template{
    display: none;
}