header {
    background-color: #403D39;

    #heading {
        padding: 2%;
        text-align: center;
        margin: 0%;
        margin-bottom: 4%;
        color: #F6F6F6;
        font-size: 4vw;
    }
}

table {
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: collapse;
    font-size: 2vw;

    .task {
        width: 6%;
        text-align: left;
        margin-left: 5%;
    }

    th,
    td {
        margin: 0%;
        border-bottom: 2px solid #403D39;
        padding-top: 3%;
        text-align: left;
        width: 2%;
        text-align: left;
    }

    .state {
        text-align: center;
    }
}