body {
    background-color: #fff;
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #403D39;

    #heading {
        padding: 4px;
        text-align: center;
        margin: 0;
        margin-bottom: 4px;
        color: #F6F6F6;
        font-size: 16px;
    }
}

table {
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: collapse;
    font-size: 15px;

    .task {
        width: 6%;
        text-align: left;
        margin-left: 5%;
    }

    th,
    td {
        margin: 0%;
        border-bottom: 2px solid #403D39;
        padding-top: 3%;
        text-align: left;
        width: 2%;
        text-align: left;
    }

    .state {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .mobilePrintBtn {
        #heading {
            padding: 4px;
            text-align: left;
            margin: 0%;
            margin-bottom: 4%;
            color: #F6F6F6;
            font-size: 16px;
        }
    }
}