<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Agile Manager - Add task</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body class="standardBody">
  <nav class="container-fluid">
    <section class="row">
      <div class="mobileTop col-lg-10 col-md-10 col-sm-9 col-8 p-3 pl-5">

        <div class="topnav">
          <a href="./" class="topnavLink">
            <h1 id="heading">Agile Manager</h1>
          </a>
        </div>

      </div>
    </section>
  </nav>

  <div class="container pt-5">
    <div class="col-md-4 col-sm-6 col-9 pl-0 pb-2">
      <p class="th">Task Information</p>
    </div>
  </div>

  <form class="container" id="addTaskForm" role="form" data-toggle="validator">
    <div class="row ">
      <div class="form-group col-md-6 col-12">
        <label for="name">Task name</label>
        <input type="text" class="form-control hover" id="name" name="name" placeholder="Example name" required
          maxlength="40">
        <p class="error-text" id="error-text-name"></p>
      </div>

      <div class="form-group col-md-6 col-12">
        <label for="dueByDate">Due by date</label>
        <input type="date" class="form-control hover" id="dueByDate" name="dueByDate" placeholder="20.12.2020">
        <p class="error-text" id="error-text-dueByDate"></p>
      </div>

    </div>

    <div class="row ">
      <div class="form-group col-md-6 col-12 ">
        <label for="createdBy">Created by</label>
        <input type="text" class="form-control hover" id="createdBy" name="createdBy" placeholder="John Doe" required
          maxlength="25">
        <p class="error-text" id="error-text-createdBy"></p>
      </div>

      <div class="form-group col-md-6 col-12 ">
        <label for="assignee">Assigned to</label>
        <input type="text" class="form-control hover" id="assignee" name="assignee" placeholder="Jane Doe" required
          maxlength="25">
        <p class="error-text" id="error-text-assignee"></p>
      </div>
    </div>

    <div class="form-group col-12 p-0">
      <label for="description">Description</label>
      <textarea type="text" class="form-control hover" id="description" name="description"
        placeholder="This is an example description for a task" required maxlength="140"></textarea>
      <p class="error-text" id="error-text-description"></p>
    </div>

    <div class="container text-center buttonDiv">
      <div class="row buttonInnerDiv">
        <button type="submit" class="showMore" id="add-task-button">Create task</button>
      </div>
    </div>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/static/js/add_task.js"></script>


</body>

</html>