<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agile Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="" type="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="topnav">
    <a>Agile Manager</a>
</div>

<table id="task-table">
    <thead>
        <tr>
            <th>Task name</th>
            <th>Assigned to</th>
            <th>Due date</th>
            <th>Progress state</th>
        </tr>
    </thead>
    <tbody>
        <!-- classes "row-even" and "row-odd" have different background colors (get loaded through ajax) -->
        <tr class="row-template">
            <td>Task 1</td>
            <td>Mira Musterfrau</td>
            <td>23.11.2020</td>
            <!-- special style for different flags is achieved by adding classes "InProgress", "Done" and "Todo" -->
            <td><div class="state-flag">InProgress</div></td>
        </tr>
    </tbody>
</table>

<br>
<button type="button" onclick="loadTasks()">Show More</button>

<script src="./static/main.js"></script>
</body>
</html>