<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agile Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body class="standardBody">
    <nav class="container-fluid">
        <section class="row">
            <div class="mobileTop col-lg-10 col-md-10 col-sm-10 col-xs-8 col-8 p-3 pl-5">

                <div class="topnav">
                    <h1 id="heading">Agile Manager</h1>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2 pt-4 pb-3">
                <a href="print" target="_blank"><img class="printButton" src="static/printbutton.svg" alt="Print Button"></a>
            </div>
        </section>
    </nav>

    <section class="container-fluid p-5">
        <div id="task-table">
            <div class="mobile-th row th">
                <div class="mobile-task col-lg-6 col-md-6 col-sm-6 col-6">Task name</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">Assigned to</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">Due Date</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">Progress</div>
            </div>
            <div class="mobile-task col-6">
                <p class="taskText">Tasks</p>
            </div>


            <!-- classes "row-even" and "row-odd" have different background colors (get loaded through ajax) -->
            <div class="row d-none row-template td p-4">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5 col-5">Task 1</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">Mira Musterfrau</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">23.11.2020</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                    <!-- special style for different flags is achieved by adding classes "InProgress", "Done" and "Todo" -->
                    <div class="state-flag">TODO</div>
                </div>
            </div>
        </div>
    </section>

    <div class="container buttonDiv">
        <div class="row buttonInnerDiv">
            <button class="showMore" id="more-tasks-button" type="button" onclick="loadTasks()">Show More</button>
        </div>
    </div>

    <br>
    <script src="static/main.js"></script>
</body>

</html>
