<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Agile Manager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="static/css/index.css">
</head>

<body class="standardBody">
  <nav class="container-fluid">
    <section class="row d-flex">
      <div class="mobileTop col-lg-7 col-10 p-3 pl-5 my-auto">

        <div class="topnav">
          <a href="./" class="topnavLink">
            <h1 id="heading">Agile Manager</h1>
          </a>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-12 col-12 my-auto p-lg-0 pl-md-5 pr-md-5 pl-5 pr-3 order-lg-1 order-md-2 order-2 pb-3">
        <div class="input-group underline">
          <span class="input-group-text bg-transparent">
            <i class="icon ion-ios-search"><img src="static/img/search.svg" alt=""></i>
          </span>
          <input class="form-control searchbox" type="text" placeholder='Search' aria-label="Search">
        </div>
      </div>

      <div class="col-md-1 col-2 my-auto d-flex justify-content-end order-lg-2 order-md-1 order-1">
        <a href="print" target="_blank"><img class="printButton" src="static/img/printbutton.svg" alt="Print Button"></a>
      </div>
    </section>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-label="added successfully modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="successCloseButton">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h4 class="modal-title" id="successModalLabel">Your task was added successfully</h4>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-secondary confirm-btn" data-dismiss="modal"
            id="successConfirmButton">Great!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-3">
    <div class="col-lg-2 col-md-2 col-sm-3 col-4 pl-5 my-auto">
      <a href="add_task" class="addTaskButton">+ Add Task</a>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-3 col-4 pl-5 ml-auto">
      <button type="button" class="generatePDFButton" onclick="generate_pdf()">
        <img src="static/img/pdf_download_icon.png" height="50px"></img>
      </button>
    </div>
  </div>

  <section class="container-fluid pl-5 pr-5 pb-5 pt-3">
    <div id="task-table">
      <div class="mobile-th row th">
        <div class="mobile-task col-lg-6 col-md-6 col-sm-6 col-6">Task name</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-2">Assigned to</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">Due Date</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">Progress</div>
      </div>
      <div class="mobile-task col-6">
        <p class="taskText">Tasks</p>
      </div>


      <!-- classes "row-even" and "row-odd" have different background colors (get loaded through ajax) -->
      <div class="row d-none row-template td p-4">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 col-4">Task 1</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">Mira Musterfrau</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-3">23.11.2020</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-3 mobile-sf-container">
          <!-- special style for different flags is achieved by adding classes "InProgress", "Done" and "Todo" -->
          <div class="state-flag">TODO</div>
        </div>
      </div>
    </div>
  </section>

  <div class="container buttonDiv">
    <div class="row buttonInnerDiv">
      <button class="showMore" id="more-tasks-button" type="button" onclick="loadTasks()">Show More</button>
    </div>
  </div>

  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="static/js/main.js"></script>
</body>

</html>