<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Print View</title>
  <link rel="stylesheet" href="../resources/scss/print.scss">
</head>

<body>
  <header>
    <p id="heading">Agile Manager</p>
  </header>

  <table>
    <thead>
      <tr>
        <th class="task" scope="col">Task Name</th>
        <th scope="col">Assigened to</th>
        <th scope="col">Due Date</th>
        <th scope="col" class="state">Progess State</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="task">test</td>
        <td>test2</td>
        <td>Date</td>
        <td class="state">state</td>
      </tr>
      <tr>
        <td class="task">test</td>
        <td>test2</td>
        <td>Date</td>
        <td class="state">state</td>
      </tr>
      <tr>
        <td class="task">test</td>
        <td>test2</td>
        <td>Date</td>
        <td class="state">state</td>
      </tr>
      <tr>
        <td class="task">test</td>
        <td>test2</td>
        <td>Date</td>
        <td class="state">state</td>
      </tr>
      <tr>
        <td class="task">test</td>
        <td>test2</td>
        <td>test3</td>
        <td class="state">state</td>
      </tr>
    </tbody>
  </table>
  <script src="js/script.js"></script>
</body>

</html>